body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 550px;
    margin: auto;
    background-color: pink;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
